<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bendito's Taqueria</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Hanalei+Fill" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app_admin.js"></script>
  <script type="text/javascript" src="/scripts/helpers.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
</head>

<body>
  <img id="background" src="/images/bigtacos.jpg">
  <div class="container admin header">
    <h1 class="text-center logo">
      <img id="logoimg" src="/images/burrito.png">
      <a class="logo" href="/">
      Bendito's Taqueria
    </a>
  </h1>
  </div>

  <section id="logindiv">
    <form class="form" action="#" id="login">
      <h3 class="login">Login Form</h3>
      <hr/>
      <p>
        <label>Username:</label>
        <input type="text" id="username" placeholder="Ex - Jeremy" autocomplete="off" />
      </p>
      <p>
        <label>Password:</label>
        <input type="password" id="password" placeholder="************" autocomplete="off" />
      </p>

      <input type="submit" id="loginbtn" value="Login" style="width: 100px;" />
    </form>
  </section>
  <div class="container admin">
    <h2 class="text-center">Manage Orders</h2>
    <div id="admin-list" class="row">
      <!-- START Insert Area -->
      <!-- END Insert Area -->
    </div>
    <span>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span>
  </div>
</body>

</html>
