<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bendito's Taqueria</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Hanalei+Fill" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app_admin.js"></script>
</head>

<body>
  <h1 class="text-center logo">Bendito's Taqueria</h1>
  <div class="container admin">
    <h2 class="text-center">Manage Orders</h2>
    <div id="admin-list" class="row">
      <!-- START Insert Area -->
      <article class="row admin-item-row">
        <div class="col-sm-12 col-xs-12 admin-item-head">
          <h4 customer="Peter">Order #26 - Peter - 7783233909</h4>
          <p>Placed at: 11:59 PM</p>
        </div>
        <div class="col-sm-12 col-xs-12 admin-item-status">
          <h5 class="status"><span class="current">Placed</span> → Confirmed → Ready for Pickup</h5>
        </div>
        <div class="col-sm-9 col-xs-12 admin-item-foods">
          <ul class="order-list">
            <!-- Append all food items here -->
            <li>Food item one</li>
            <li>Food item two</li>
            <li>Food item three</li>
          </ul>
        </div>
        <div class="col-sm-3 col-xs-12 admin-item-confirm">
          <form id="confirm" class="admin" action="/admin" method="post">
            <p>Preparation time:</p>
            <input id="26" class="eta-time" type="number" min="0" max="99" name="eta">
            <p>Minutes</p>
            <button type="submit" value="submit" class="btn btn-primary">Confirm Order</button>
          </form>
        </div>
      </article>
      <article class="row admin-item-row">
        <div class="col-sm-12 col-xs-12 admin-item-head">
          <h4>Order #[order.id] - [order.name] - [order.phone]</h4>
          <p>Placed at: [order.placed_at]</p>
        </div>
        <div class="col-sm-12 col-xs-12 admin-item-status">
          <h5 class="status">Placed → <span class="current">Confirmed</span> → Ready for Pickup</h5>
        </div>
        <div class="col-sm-9 col-xs-12 admin-item-foods">
          <ul class="order-list">
            <li>Food item one</li>
            <li>Food item two</li>
            <li>Food item three</li>
          </ul>
        </div>
        <div class="col-sm-3 col-xs-12 admin-item-confirm">
          <form id="confirm" class="admin" action="/admin" method="post">
            <p>Preparation time:</p>
            <input id="20002" class="eta-time" type="number" min="0" max="99" name="eta" value="">
            <p>Minutes</p>
            <button type="submit" value="submit" class="btn btn-primary">Confirm Order</button>
          </form>
        </div>
      </article>
      <!-- END Insert Area -->
    </div>
  </div>
</body>

</html>
<!-- id: 20001,
      name: 'Aaron',
      phone: '+16049995555',
      placed_at: 2018-07-27T00:44:40.559Z,
      eta: null,
      status: 'Placed' }, -->
