body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

h1.logo {
  font-family: 'Hanalei Fill', cursive;
  color: #222;
  font-size: 4em;
}

a.logo {
  color: #222;
  text-decoration: none;
}

a.logo:hover {
  color: #222;
  text-decoration: none;
}


/* ===================
      Menu Page
=================== */

.container.menu {
  max-width: 800px;
  background: #eee;
  padding: 20px 40px 40px;
  margin: 10px auto 50px;
}

form .menu {
  padding: 0;
  margin: 0;
}

div.food-item {
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}

div.food-item-row {
  display: flex;
  flex-wrap: wrap;
}

div.food-item-img {
  background: #ddd;
  padding: 0;
}

div.food-item-img img {
  width: 100%;
}

div.food-item-qty {
  background: #ddd;
  padding: 10px;
  text-align: center;
}

div.food-item-description {
  background: #ddd;
}

p.error-message {
  padding-bottom: 10px;
}

p.food-item-price {
  font-weight: 800;
  margin:0;
}

input.quantity {
  width: 50px;
}


div.total-container{
  font-size: 2em;
  float:right;
}

#menu-food > h3 {
  margin-left: 12px;
}

#menu-drink > h3 {
  margin-left: 12px;
}

/* ===================
      Admin Page
=================== */

.container.admin {
  max-width: 800px;
  background: #eee;
  padding: 20px 40px 40px;
  margin: 10px auto 50px;
}

div.admin-item-row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

div.admin-item-head {
  background-color: #aaa;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.admin-item-head p {
  margin-top: 10px;
  text-align: right;
}

div.admin-item-status {
  background-color: #aaa;
}

.admin-item-status > .status {
  color: #7b7b7b;
  text-align: center;
}

span.current {
  color: #3479b7;
  font-weight: 600;
}

div.admin-item-foods {
  background-color: #ccc;
  padding: 20px 10px 10px;
}

div.admin-item-confirm {
  background-color: #ccc;
  text-align: center;
  padding: 10px 10px 20px 10px;
}

input.eta-time {
  font-size: 1.5em;
  width: 60px;
  text-align: center;
  padding-left: 5px;
  margin-bottom: 5px;
}


/* ===================
  Order Status Page
=================== */

div.order-item-row {
  display: flex;
  flex-wrap: wrap;
}

div.order-item {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
}

div.order-item-status {
  background-color: #aaa;
}

.order-item-status > .status {
  color: #7b7b7b;
  text-align: center;
}

.ordermsg {
  max-width: 500px;
  margin: 0 auto;
}

.order-item-single {
  display: flex;
  justify-content: space-around;
}

.order-item-single > img {
 max-height: 50px;
}

p.table-heading {
  font-weight: 600;
}

.border {
  border: 1px solid #333;
}
